<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if (errorMessage != null) {
                alert(errorMessage);
            }
        });


    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .input-group {
            margin-bottom : 15px
        }
        .img-div {
            margin-bottom : 10px
        }
        .fieldError {
            color: #bd2130;
        }
        .goodsForm {
            width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <form role="form" method="post" th:object="${goodsFormDto}" class="goodsForm">

        <p class="h2" th:if="${#strings.isEmpty(goodsFormDto.goodsCode)}">
            상품 등록
        </p>
        <p class="h2" th:unless="${#strings.isEmpty(goodsFormDto.goodsCode)}">
            상품 수정
        </p>
        <input type="hidden" th:field="*{goodsCode}">

        <div class="form-group">
            <select th:field="*{goodsSellStatus}" class="custom-select">
                <option value="SELL">판매중</option>
                <option value="SOLD_OUT">품절</option>
            </select>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">상품명</span>
            </div>
            <input type="text" th:field="*{goodsName}" class="form-control" placeholder="상품명을 입력해주세요">
        </div>
        <p th:if="${#fields.hasErrors('goodsName')}" th:errors="*{goodsName}" class="fieldError">Incorrect data</p>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">가격</span>
            </div>
            <input type="number" th:field="*{price}" class="form-control" placeholder="상품의 가격을 입력해주세요">
        </div>
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError">Incorrect data</p>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">재고</span>
            </div>
            <input type="number" th:field="*{stockQty}" class="form-control" placeholder="상품의 재고를 입력해주세요">
        </div>
        <p th:if="${#fields.hasErrors('stockQty')}" th:errors="*{stockQty}" class="fieldError">Incorrect data</p>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">상품 상세 내용</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" th:field="*{goodsDetail}"></textarea>
        </div>
        <p th:if="${#fields.hasErrors('goodsDetail')}" th:errors="*{goodsDetail}" class="fieldError">Incorrect data</p>

        <div th:if="${#strings.isEmpty(goodsFormDto.goodsCode)}" style="text-align: center">
            <button th:formaction="@{/admin/goods/new}" type="submit" class="btn btn-primary">저장</button>
        </div>
        <div th:unless="${#strings.isEmpty(goodsFormDto.goodsCode)}" style="text-align: center">
            <button th:formaction="@{'/admin/goods/' + ${goodsFormDto.goodsCode} }" type="submit" class="btn btn-primary">수정</button>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    </form>

</div>

</html>