<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-xl">
            <a class="navbar-brand" href="/">Lanoa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample07XL">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link" href="/admin/userlist">계정관리</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link" href="/admin/goodsList">상품관리</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="wmsdropdown" data-toggle="dropdown" aria-expanded="false" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">창고관리</a>
                        <div class="dropdown-menu" aria-labelledby="wmsdropdown">
                            <a class="dropdown-item" href="/admin/rackcodelist" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">랙코드 관리</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="stockdropdown" data-toggle="dropdown" aria-expanded="false" sec:authorize="isAuthenticated()">재고관리</a>
                        <div class="dropdown-menu" aria-labelledby="stockdropdown">
                            <a class="dropdown-item" href="/rack/racklist" sec:authorize="isAuthenticated()">재고 조회</a>
                            <a class="dropdown-item" href="/rack/rackcodelist" sec:authorize="isAuthenticated()">입고 처리</a>
                        </div>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="users/login">로그인</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/users/logout">로그아웃</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
</div>

</html>